<%= link_to "Pointsetta Root", "/" %>

<%= turbo_stream_from(@pointing_session) %>

<div class="pointing-session-name">
  <span class="title">Session: <%= @pointing_session.name %></span>
  <div class="copy-button" data-controller="clipboard" data-clipboard-text-value="<%= pointing_session_url(@pointing_session) %>">
    <button data-action="click->clipboard#copy">Copy URL</button>
  </div>
</div>

<div id="<%= dom_id(@pointing_session) %>">
  <h3> <%= "Topic: #{@pointing_session.topic || 'None'} " %> </h3>
</div>

<%= render partial: "pointing_sessions/edit_form" if @participant.administrator %>
<%= render partial: 'participants/list', locals: { pointing_session: @pointing_session } %>
<%= render partial: 'participants/vote_form', locals: { participant: @participant, pointing_session: @pointing_session } %>

